.home-container{
    width: 750px; 
    margin: auto;
}

.col{
    width: 350px;
    height: 500px;
    display: inline-block;
}

.phone{
    width: 280px;
}


.logo{
    font-family: Dancing Script;
    font-size: 50px;
}
.get-apps {
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .app-btn {
    width: 100px;
  }